body {
    font-family: "Roboto", Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 32px;
    padding: 0px;
    margin: 0px;
}

.header {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #1f2937;
    padding: 0 200px 100px 200px;
}

.headlink {
    text-decoration: none;
}

.headlink:visited {
    color: skyblue;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.image {
    width: 420px;
    height: 220px;
    flex-shrink: 0;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    flex-grow: 0;
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title {
    font-size: 48px;
    font-weight: 900;
}

.sub {
    font-size: 16px;
    color: #dadee0;
}

.signup {
    color: #fff;
    background-color: #3882f6;
    font-size: 14px;
    font-weight: 600;
    flex-grow: 0;
    width: 100px;
    padding: 8px;
    border-radius: 8px;
    border: none;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}

.icons {
    display: flex;
    gap: 48px;
}

.icon-image {
    flex-shrink: 0;
    width: 120px;
    height: 120px;
    border: 2px solid #3882f6;
    border-radius: 12px;
}

.icon-text {
    color: #949494;
    font-size: 12px;
    width: 120px;
    text-align: center;
}

.quote-container {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 86px;
}

.signup-container {
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 64px 240px 64px 12px;
    padding: 12px 86px;
    border-radius: 12px;
}

.signup-text {
    color: white;
}

.footer {
    color: #fff;
    background-color: #1f2937;
    padding: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quote {
    font-style: italic;
}

#author {
    align-self: flex-end;
}

#logotext {
    font-weight: 900;
}

#lower {
    border: 2px solid white;
}